extends layout

block content

    h2 Single View
    p Number of films in catalogue: #{count}
    ul
    for item in film
        li #{item.id} - #{item.name} - #{item.genre} - #{item.release_year} - img(src="#{item.genre}", alt="image", srcset="")
